@page
@model ErrorModel
@using Microsoft.Extensions.Localization
@using TimeTracker.AdminUI.Resources
@inject IStringLocalizer<PagesTexts> Localizer
@{
    ViewData["Title"] = Localizer["ErrorTitle"];
}

<h1 class="text-danger">@Localizer["ErrorHeader"]</h1>
<h2 class="text-danger">@Localizer["ErrorOccurredMessage"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestIdLabel"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["DevelopmentModeHeader"]</h3>
<p>
    @Localizer["DevelopmentModeInfo"]
</p>
<p>
    <strong>@Localizer["DevelopmentWarningHeader"]</strong>
    @Localizer["DevelopmentWarningBody"]
</p>