@page
@model TimeTracker.AdminUI.Pages.IndexModel
@using Microsoft.Extensions.Localization
@using TimeTracker.AdminUI.Resources
@inject IStringLocalizer<PagesTexts> Localizer
@{
    ViewData["Title"] = Localizer["Accueil"];
}

<h2>@Localizer["BienvenueSurTimeTracker"]</h2>

@if (Model.IsAdmin)
{
    <p>@Localizer["RedirectionAdmin"]</p>
}
else
{
    <div class="user-home">
        <p>@Localizer["Bonjour"], <b>@User.Identity.Name</b>!</p>
        <ul>
            <li><a href="/Sessions">@Localizer["MesSessions"]</a></li>
            <li><a href="/Account/Profile">@Localizer["MonProfil"]</a></li>
            <li><a href="/Privacy">@Localizer["Confidentialite"]</a></li>
        </ul>
    </div>
}
